<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <form class="w-50 mx-auto mt-5" action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Add Profile Image</label>
        <input
          type="file"
          class="form-control"
          id="coverImage"
          name="coverImage"
          accept="image/*"
        />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Blog Title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Add Description</label>
        <textarea
          class="form-control"
          id="body"
          name="body"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <%- include("./partials/scripts") %>
  </body>
</html>
